@page
@model RestaurantRazor.Pages.CategoryTypes.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Category Type List</h2>

<div class="row">
    <a type="button" class="btn btn-info" asp-page="Create">Primary</a>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Sort Order</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @{
            int i = 0;
            @foreach (var item in Model.CategoryTypeDTO)
            {
        <tr>
            <th scope="row">@(i = i + 1)</th>
            <td>@Html.DisplayFor(x => item.Name)</td>
            <td>@Html.DisplayFor(x => item.DisplayOrder)</td>
            <td> <a asp-page-handler="Remove" asp-route-id="@item.Id">  USUŃ </a> </td>
            @Html.Partial("_ButtonPartialGroup", new RestaurantRazor.Models.ButtonPartial { Id = item.Id });
            

        </tr>

            }
        }


    </tbody>
</table>



